@import "variables";
@import "mixins/flexbox";

.comment-wrapper {
  margin: 5px 30px;
  border: 1px solid #ccc;
  padding: 15px;
  .comment-row {
    @include flex-direction(row);
    @include flex-align-items(center);
    @include flex-display();

    .left {
      @include flex-display();
      @include flex-direction(row);
      @include flex-align-items(center);
      .user-img {
        width: 50px;
        height: 50px;
      }
      .user-name {
        padding-left: 15px;
        font-size: 18px;
      }
    }
    .right {
      @include flex-display();
      @include flex-justify-content(flex-end);
      @include flex(1);

      .date {
        font-size: 18px;
        color: #808080
      }
    }
  }
}