#blog {
  padding-top: 85px;

  .form-style {
    padding: 30px;
    .btn {
      height: 50px;
      width: 100px;
      background: #5151ff;
      color: #fff;
      border: none;
      border-radius: 6px;
      font-size: 18px;
    }
  }
}